<div class="container">
    <h2>{{title}}</h2>

    <form #contactoForm = "ngForm" (ngSubmit) = "onSubmit(contactoForm)">
        <div class="form-group" >
          <label for="name">Nombre</label>
          <input type="text" #name="ngModel" [(ngModel)]="contacto.name"
          name ="name"
          class="form-control" 
          aria-describedby="nameHelp" 
          placeholder="Enter name" 
          required >
          <small id="nameHelp" class="form-text text-muted">Es obligatorio ingresar un Nombre.</small>
        </div>

        <div class="form-group">
          <label for="telephone">Telefono</label>
          <input type="tel" #telephone="ngModel" [(ngModel)]="contacto.telephone"
          name ="telehpone"
          class="form-control" 
          id="telephone" 
          placeholder="Enter telephone" 
          required >
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" #email="ngModel" [(ngModel)]="contacto.email"
            name = "email"
            class="form-control" 
            id="Email" 
            placeholder="Enter Email" 
            required >
          </div>

        <div class="form-group">
            <label for="message">Mensaje</label>
            <textarea #message="ngModel" [(ngModel)]="contacto.message"
            name = "message"
            class="form-control" 
            id="message" 
            rows="3" 
            placeholder="Enter message" 
            required ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>

</div>