*{
    margin: 0;
    padding: 0;
    list-style:none;
}
body{
    background-attachment: fixed;
}
.clearfix{
    float:none;
    clear:both;
}

/****************************************Barra de navegacion*/
.navbar {
    z-index: 999;
    padding-top: 1.5%;
    transition: all 1s ease-in-out;
}
/*LOGO*/
.navbar-dark .navbar-brand {
    color: white;
}

.nav-item a {
    color: white !important;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    padding-left: 10px;
}

.navbar .navbar-nav > li > a:hover {
    display: block;
    color:yellow !important;
    border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px; /*Safari y Chrome*/
    -moz-border-radius: 100px 100px 100px 100px; /*Mozilla*/
    float: none;
    transition: background-color 200ms ease;
}
/****************************************Carousel*/


/****************************************Contenido principal*/
#content{
    width: 90%;
    box-shadow: 0px 0px 40px black;
    background: rgba(255, 255, 255, 0.7);
    min-height: 700px;
    padding: 10%;
    margin: 0px auto;
}


/****************************************Footer*/
footer{
    text-align: center  ;
    width: 50%;
    margin: 0px auto;
    padding-top: 25px;
    color: rgba(0,0,0,0.5);
}