<header>
    <!--Barra de Menu-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" [routerLink] = "['/home']" [routerLinkActive]="['active']">M - Soluciones</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a [routerLink] = "['/home']" [routerLinkActive]="['active']">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a [routerLink] = "['/sobre-mi']" [routerLinkActive]="['active']">Sobre mi</a>
                    </li>
                    <li class="nav-item ">
                        <a [routerLink] = "['/servicios']" [routerLinkActive]="['active']">Servicios</a>
                    </li>
                    <li class="nav-item ">
                        <a [routerLink] = "['/contacto']" [routerLinkActive]="['active']">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<app-carousel></app-carousel>



<section id="content">
    <router-outlet></router-outlet>
</section>

<footer> <p>Master en JavasScript &copy;</p> </footer>

